<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>FEBS Starter Page</title>

  <link rel="stylesheet" href="dist/app.bundle.css">
</head>

<body>
<a href="https://www.rei.com">
  <img class="svg-logo" src="https://satchel.rei.com/media/img/header/rei-co-op-logo-black.svg"
       alt="Go to REI.com Home Page"/>
</a>

<section>
  <h1>
    Quick Start
  </h1>

  <h3>Default Entry Points</h3>

  <ul>
    <li>
      <pre>js: /src/js/entry.js</pre>
    </li>
    <li>
      <pre>less: /src/style/entry.less></pre>
    </li>
  </ul>

  <h3>Development bundles</h3>

  <p>
    Your development bundles are written to
  <pre>/dist/&lt;package name&gt;/app.bundle.[js|css]&lt;/package&gt;</pre>

  <h3>Production bundles</h3>
  <p>
    Your production bundles are written to
  <pre>/dist/&lt;package name&gt;/app.bundle-&lt;hash&gt;.[js|css]</pre>
  </p>

</section>

<section>
  <h1>
    Commands
  </h1>

  <dl>
    <dt>
      <pre>$ NODE_ENV=dev febs dev --no-dev-server</pre>
    </dt>
    <dd>Builds development bundles</dd>
    <dd>Bundles are un-versioned and un-minified</dd>
    <dd>Source maps are inline</dd>

    <dt>
      <pre>$ NODE_ENV=prod febs prod</pre>
    </dt>
    <dd>Builds production bundles</dd>
    <dd>Bundles are versioned and minified</dd>
    <dd>Source maps are external</dd>

    <dt>
      <pre>$ NODE_ENV=dev febs dev</pre>
    </dt>
    <dd>Run development server with live reloading of assets.</dd>
  </dl>

</section>
<hr>
<section>
  <p>Vue component should be rendered below:<p>
  <div id="app"></div>
</section>
<script src="dist/app.bundle.js"></script>
</body>

</html>
